.formContainer {
    font-size: small;
}

.form {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.detailsForm {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    gap: 0.5rem;
}

.inlineForm {
    input, select {
        max-width: 4rem;
        margin: 0 0.5rem;
    }
}
.osForm {
    input {
        max-width: 8rem;
        margin: 0 0.5rem;
    }
}