.userInfoContainer {
  div:not(:last-child) {
    margin-bottom: 0.75em;
  }
}

.userInfo {
  color: var(--bx-color-black);
  display: flex;
  gap: 0.5rem;
  font: {
    family: var(--bx-font-secondary);
    style: normal;
    size: 12px;
  }
  line-height: 145%;
  letter-spacing: 0.03em;
  span:first-child {
    font-weight: 400;
    min-width: 8ch;
    text-align: start;
  }
  span:last-child {
    text-transform: uppercase;
    font-weight: 900;
  }
}
